@font-face {
  font-family: 'Quicksand';
  src: url(../public/fonts/Quicksand-Bold.ttf);
  src: url(../public/fonts/Quicksand-Light.ttf);
  src: url(../public/fonts/Quicksand-Medium.ttf);
  src: url(../public/fonts/Quicksand-Regular.ttf);
  src: url(../public/fonts/Quicksand-SemiBold.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  background: #dfe0df;

  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
