name: Playwright Tests
on: push

jobs:
  e2e-tests:
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    # Update env variables with your own database credentials
    env:
      PGHOST: localhost
      PGDATABASE: spaceship_store
      PGUSERNAME: admin_timon
      PGPASSWORD: admin_timon

    steps:
      - name: Start preinstalled PostgreSQL on Ubuntu
        run: |
          sudo systemctl start postgresql.service
          pg_isready
      - name: Create database user
        run: |
          sudo -u postgres psql --command="CREATE USER admin_timon PASSWORD 'admin_timon'" --command="\du"
      - name: Create database and allow user
        run: |
          sudo -u postgres createdb --owner=admin_timon spaceship_store
      - uses: actions/checkout@v3
      # Use the official setup-node action (sets up Node.js):
      # https://github.com/actions/setup-node
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.8'
      - name: Install python dependencies
        run: pip install -r requirements.txt
      - name: Install JS dependencies
        run: yarn
      - name: Install playwright
        run: yarn playwright install --with-deps
      - run: yarn migrate up
      - name: Build localhost
        run: yarn build
      - name: Run tests
        run: yarn playwright test

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: playwright-screenshots-videos
          path: playwright/test-results/
